@import url("https://fonts.google.com/icons?selected=Material%20Icons%20Outlined%3Alock");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap");

body {
  background: #ECEEF1;
  text-decoration: none;
}

nav {
  display: flex;
  justify-content: flex-end;
  padding: 5px;
  align-items: center;
  line-height: 0;
  height: 10px;
}
.right p {
  font-size: 15px;
  color: gray;
  text-align: left;
  padding: 2px;
}
.right a {
  font-size: 13px;
  text-align: left;
  padding: 2px;
  text-decoration: none;
  color:#0077c5 ;
}
nav button {
  width: 120px;
  height: 40px;
  background-color: #0077c5;
  color: white;
  font-size: 18px;
  border-radius: 4px;
  margin-top: 12px;
}
nav button i{
  padding: 5px;
}

header {
  font-family: "AvenirNext", Avenir, "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  font-weight: normal;
  line-height: 1.5;
  width: 380px;
  margin: 50px auto;
  color: rgb(212, 58, 58);
  height: 50px;
}
.logo{
  width: 120px;
  margin: 20px auto;

}
.logo img{
  width: 120px;
}
.header-buttons{
  display: flex;
  align-items: baseline;
  justify-content: center;
  height: 10px;
  font-weight: normal;
    line-height: 1.5;
}
.header-buttons img {
  width: 22px;
  height: 20px;
  border-radius: 50px;
}
.header-buttons a {
text-decoration: none;
color: rgb(141, 140, 140);
padding: 8px;
font-size: 20px;

}

.container {
  font-family: "AvenirNext", Avenir, "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  font-size: 14px;
  font-weight: normal;
  border-radius: 2px;
  margin: 50px auto;
  overflow: visible;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #c7c7c7;
  box-sizing: border-box;
  width: 380px;
  height: 80%;
}
h3 {
  font-size: 25px;
  color: rgb(39, 37, 37);
  font-family: "Noto Sans JP", sans-serif;
}
.container input {
  height: 34px;
  width: 300px;
  min-width: 160px;
  padding-left: 8px;
  padding-right: 6px;
  color: #000000;
  outline: none;
  font-size: 1.2em;
  border-radius: 3px;
  line-height: 1.3em;
  margin-top: 20px;
  border: 1px solid rgb(177, 171, 171);

}
label {
  display: block;
  font-weight: normal;
  color: #404040;
  font-size: 14px;
  line-height: 25px;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
  line-height: 1.3em;
margin-top: 20px;
}
form p {
  font-size: 10px;
  color: rgb(59, 50, 50);
}

.account-terms {
  font-size: 12px;
  color: gray;
  font-style: italic;
}
#submit {
  margin-top: 20px;
  font-size: 18px;
  width: 95%;
  height: 43px;
  background-color: #0077c5;
  color: white;
  border: none;
  padding: 5px;
  border-radius: 4px;
}
#submit  i{
  padding: 10px;
}
.instructions {
  line-height: 0.5;
  text-align: center;
}
.container a {
  color: #0077c5;
  padding: 10px;
  padding-bottom: 0;
  text-decoration: none;
}
.container a:hover {
  border-bottom: 1px solid #0077c5;
}
nav a:hover {
  border-bottom: 1px solid #0077c5;
}
.lock{
position: relative;
}
.fa-lock-open{
position: absolute;
right: 29px;
bottom: 10px;
color:rgb(221, 218, 218);
}
footer{
  
  text-align: center;
  width: 60%;
  margin: auto;
  color: gray;
  font-family: "AvenirNext", Avenir, "Helvetica Neue", Helvetica, Arial,
  sans-serif;
  font-size: 12px;
}
footer a{
  text-decoration: none;
  color: gray;
  padding: 12px;

}
